* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gabarito", sans-serif;
    font-family: "Rubik", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Gabarito&family=Rubik:wght@300&display=swap);
}

:root {
    --gold: #d5a513;
    --silver: #C0C0C0;
    --bronze: #cd7f32;
    --back: #f0bb83c5;
    --ink: #1e1301;
    --lightblue: #278adb;
}

html {
    font-size: 15px;
}

header {
    margin-top: -7vh;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.headerContainer img {
    height: 5vh;
    margin: 10px 0px;
}

.headerContainer {
    background-color: rgb(31, 31, 31); 
    display: flex;
    background-size: cover;
    text-align: left;
    z-index: 10;
}

.header {
    font-size: 4vh;
    margin: 10px;
}

.back {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    height: 7vh +20px;
}

#titleHeader {
    color: var(--gold);
    text-shadow: -1px 0 0 cornsilk;
}

#subtitleHeader {
    color: var(--gold);
    font-weight: 2000;
    text-shadow: -1px 0 0 cornsilk;
}

main {
    margin-top: 7vh;
    min-height: 93vh;
    height: fit-content;
    width: 100vw;
    background: url(./assets/The_Lighting_of_the_Beacons.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
} 

#loginPlatform {
    width: 300px;
    height: fit-content;
    min-height: 50vh;
    background-color: var(--back);
    border-radius: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#login h1 {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Sofia", sans-serif;
    color: #c29511;
    text-shadow: -2px 0 0 var(--ink);
}

#login p {
    font-size: 0.9rem;
    text-align: center;
    font-family: "Snell Roundhand", cursive;
    color: black;
    text-shadow: -1px 0 0 white;
    padding: 10px;
}

#register {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    text-shadow: -2px 0 0 black;
    background-color: var(--gold);
}

#registerBox, #loginBox {
    height: fit-content;
    padding: 10px 0;
}

.button:active {
    background-color: bisque;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    background-color: grey;
}

.blue {
    font-size: 1rem;
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 10px;
    color: white;
    text-shadow: -2px 0 0 black;
    background-color: var(--lightblue);
}

.boxContainer {
    background-color: #f0bb83;
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    width: 80%;
    height: 50%;
}

.form1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.formContainer h3 {
    text-align: center;
    font-size: 1.5rem;
    color: #c29511;
    text-shadow: -2px 0 0 var(--ink);
    margin: 5px;
} 

.formContainer label, .formContainer p {
    text-align: center;
    font-size: 1rem;
    width: 100%;
}

.healthbar {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 20px;
    background-color: red;
    border: 1px solid #000;
    border-radius: 10px;
}

.health {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 209, 0);
}

#menu {
    width: 100vw;
}

#menuBar {
    margin-top: 8vh;
    background-color: #F3BC14;
    width: 100vw;
    height: 7vh;
    min-height: 30px;
    position: fixed;
    top: 1px;
    display: flex;
    align-items: center;
    z-index: 2;
}

#menuBar h2 {
    font-size: 4vh;
    font-family: "Rubik", sans-serif;
    padding: 4px;
    margin: 10px;
    text-shadow: 2px 2px 4px #fff;
}

#menuBar h2:hover {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
}

.outlined {
    border: 1px solid white;
    border-radius: 10px;
}

#barRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
}

#barRight img {
    height: 4vh;
    margin: 1vw;
}

#barRight img:hover {
    cursor: pointer;
}

#barRight h2 {
    margin: 1vw;
}

#homeContent {
    margin-top: 13vh;
    width: 100vw;
    height: 100vh;
}

#homeContainer {
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#statistics {
    height: 40vh;
    width: 80vw;
    background-color: #f0bb83c1;
    border-radius: 20px;
    order: 1;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#personalInfo {
    height: 50vh;
    width: 80vw;
    background-color: #f0bb83c1;
    border-radius: 20px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avatar {
    width: 100px;
    height: 100px;
    border: 2px solid #c29511;
    border-radius: 50%;
    overflow: hidden;
}

#avatar img {
    width: 100%;
}

#avatar p {
    text-align: center;
    margin-top: 20%;
}

#selector {
    width: 20px;
    position: absolute;
    margin: 0 -30% -8% 0;
    cursor: pointer;
}

.hide {
    display: none;
}

#grafica {
    width: 80%;
    height: 80%;
    overflow: visible;
}

#grafica .ct-bar {
    stroke: blue;
}

#selectAvatar {
    width: 20%;
    height: 30%;
    position: absolute;
    background-color: #f0bb83;
    border-radius: 30px;
}

#chooseAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#avatarSelector {
    margin-bottom: 5px;
}

.text {
    text-align: center;
}

#shopContainer, #myCardsContainer{
    position: relative;
    top: 15vh;
    width: 80vw;
    margin: 0 10vw;
    height: fit-content;
    background-color: #f0bb83c1;
    border-radius: 10px;
    overflow: hidden;
}

#filterShop, #filterMyCards {
    background-color: #3a3a3a;
    border-radius: 10px;
    width: 100%;
    height: 15vh;
    font-size: 0.8rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#filterSelectorShop, #filterSelectorMyCards {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#filterSelectorMyCards {
    justify-content: flex-start;
    margin-left: 10px;
}

.vertical article {
    text-align: center;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

.vertical {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#searchstarts {
    width: 50px;
}

.search {
    position: absolute;
    right: 10px;
    color: white;
    background-color: var(--gold);
    padding: 5px;
    border-radius: 10px;
}

#cardsShop, #cardsMyCards {
    width: 100%;
    padding: 20px 0;
    height: fit-content;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
}

.coins {
    position: fixed;
    background-color: #3a3a3a;
    border-radius: 5px;
    width: fit-content;
    height: 7vh;
    bottom: 5vh;
    right: 5vw;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;
}

.coinsImg {
    height: 100%;
}

.coins span {
    font-size: 5vh;
    margin: 1vh 10px;
}

.shopCard, .myCard {
    height: 400px;
    width: 285px;
    cursor: pointer;
    z-index: 1;
}

.displayCard {
    width: 100%;
    height: 100%;
    position: relative;
}

.cardImage {
    width: 100%;
}

.displayCard .cardLevel {
    right: 0;
    bottom: 0;
    width: 25%;
    position: absolute;
    z-index: 1;
}
.displayCard .nameDisplay {
    font-size: 5vh;
    left: 50%; 
    transform: translateX(-50%);
    bottom: 5%;
    position: absolute;
    z-index: 1;
    text-shadow:
    -1px -1px 0 #000, 
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    1px 1px 0 #000;

}

.gold {
    color: var(--gold);
}

.silver {
    color: var(--silver);
}

.bronze {
    color: var(--bronze);
}

.detalleShop, .detalleMyCards, .homeBattle {
    position: relative;
    top: 4vh;
    width: 100vw;
    height: fit-content;
    min-height: 85vh;
    background-color: var(--back);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#xShop, #xMyCards {
    position: absolute;
    cursor: pointer;
    top: 8vh;
    right: 5vw;
    width: 3vw;
}

#imgDetalle, #imgDetalleMyCardsMyCards {
    width: 70vw;
    height: 98vw;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    margin-top: 40px;
    overflow: hidden;
}

#infoShop, #infoMyCards {
    width: 70vw;
    height: fit-content;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.detalleButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.buttonGold {
    font-size: 1rem;
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 10px;
    color: white;
    text-shadow: -2px 0 0 black;
    background-color: var(--gold);
}

#generalShop, #generalMyCards {
    width: 80%;
    margin: 10% 0;
}

#generalShop h3, #statisticsShop h3, #generalMyCards h3, #statisticsMyCards h3 {
    text-align: center;
    margin: 5px 0;
}

#generalShop p, #statisticsShop p, #generalMyCards p, #statisticsMyCards p {
    text-align: left;
}

#statisticsShop, #statisticsMyCards {
    width: 80%;
    margin: 5% 0;
}

#gInfo, #gInfo1 {
    z-index: 10;
}

#statisticsButton, #statisticsButton1 {
    z-index: 10;
}

#character {
    width: 20vw;
    margin: 0 10px;
}

#map {
    width: 70vw;
    height: 52.5vh;
    border-radius: 20px;
    border: 5px solid #c29511;
}

#mapMoria {
    width: 100vw;
    height: 85vh;
    position: relative;
    top: 4vh;
    background-color: var(--back);
}

#mapaMoria {
    width: 70vw;
    height: 50vh;
    left: 15vw;
    top: 15vh;
    position: relative;
    border-radius: 20px;
    border: 5px solid #c29511;
}

.middle {
    text-align: center;
    position: relative;
    top: 10vh; 
}

.backMap {
    position: absolute;
    bottom: 5vh;
    right: 10vw;
}


@media screen and (min-width: 490px) and (max-width: 750px) {
    html {
        font-size: 20px;
    }
   .header {
    font-size: 6vh;
   } 
   .headerContainer img {
    height: 7vh;
    }
    #loginPlatform {
        width: 50vw;
    }
    .boxContainer {
        width: 50%;
    }
    #menuBar {
        margin-top: 10vh;
    }
    #barRight {
        right: 10px;
    }
    #homeContainer {
        flex-direction: row;
    }
    #statistics {
        order: -1;
        width: 50vw;
        height: 60vh;
    }
    #personalInfo {
        height: 60vh;
        width: 30vw;
    }
    #avatar {
        width: 120px;
        height: 120px;
    }
    #selector {
        margin: 0 -20% -5% 0;
    }
    #searchstarts {
        width: 70px;
    } 
    #imgDetalle, #imgDetalleMyCards {
        position: absolute;
        width: 30vw;
        height: 42vw;
        margin: 0;
        left: 10vw;
    }
    #infoShop, #infoMyCards {
        position: absolute;
        width: 40vw;
        height: fit-content;
        margin: 0;
        right: 10vw;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    html {
        font-size: 25px;
    }
    .header {
        font-size: 6vh;
    } 
    .headerContainer img {
        height: 7vh;
    }
    #loginPlatform {
        width: 50vw;
    }
    .boxContainer {
        width: 50%;
    }
    #menuBar {
        margin-top: 10vh;
    }
    #barRight {
        right: 15px;
    }
    #homeContainer {
        flex-direction: row;
    }
    #statistics {
        order: -1;
        width: 50vw;
        height: 60vh;
    }
    #personalInfo {
        height: 60vh;
        width: 30vw;
    }
    #avatar {
        width: 150px;
        height: 150px;
    }
    #selector {
        margin: 0 -20% -4% 0;
    }
    #searchstarts {
        width: 90px;
    }
    #imgDetalle, #imgDetalleMyCards {
        position: absolute;
        width: 30vw;
        height: 42vw;
        margin: 0;
        left: 10vw;
    }
    #infoShop, #infoMyCards {
        position: absolute;
        width: 40vw;
        height: fit-content;
        margin: 0;
        right: 10vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    html {
        font-size: 30px;
    }
    .header {
        font-size: 6vh;
    } 
    .headerContainer img {
        height: 7vh;
    }
    #loginPlatform {
        width: 50vw;
    }
    .boxContainer {
        width: 50%;
    }
    #menuBar {
        margin-top: 10vh;
    }
    #barRight {
        right: 20px;
    }
    #homeContainer {
        flex-direction: row;
    }
    #statistics {
        order: -1;
        width: 50vw;
        height: 60vh;
    }
    #personalInfo {
        height: 60vh;
        width: 30vw;
    }
    #avatar {
        width: 180px;
        height: 180px;
    }
    #selector {
        margin: 0 -20% -4% 0;
    }
    #searchstarts {
        width: 110px;
    }
    #imgDetalle, #imgDetalleMyCards {
        position: absolute;
        width: 30vw;
        height: 42vw;
        margin: 0;
        left: 10vw;
    }
    #infoShop, #infoMyCards {
        position: absolute;
        width: 40vw;
        height: fit-content;
        margin: 0;
        right: 10vw;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 35px;
    }
    .header {
        font-size: 6vh;
    } 
    .headerContainer img {
        height: 7vh;
    }
    #loginPlatform{
        width: 50vw;
    }
    .boxContainer {
        width: 50%;
    }
    #menuBar {
        margin-top: 9vh;
    } 
    #barRight {
        right: 25px;
    }
    #homeContainer {
        flex-direction: row;
    }
    #statistics {
        order: -1;
        width: 50vw;
        height: 60vh;
    }
    #personalInfo {
        height: 60vh;
        width: 30vw;
    }
    #avatar {
        width: 200px;
        height: 200px;
    }
    #selector {
        margin: 0 -15% -2% 0;
    }
    #searchstarts {
        width: 140px;
    }
    #imgDetalle, #imgDetalleMyCards {
        position: absolute;
        width: 30vw;
        height: 42vw;
        margin: 0;
        left: 10vw;
    }
    #infoShop, #infoMyCards {
        position: absolute;
        width: 40vw;
        height: fit-content;
        margin: 0;
        right: 10vw;
    }
}